@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  /* box-sizing: border-box; */
}
:root {
  --nav-text: white;
  --nav-primary-terang: #ddd;
  --nav-primary: #bbb;
  --nav-primary-gelap: #999999;
  --hitam: #151515;
  --putih: #f0ebeb;
  --putih-redup: #606060;
  --primary1-background: #f6be2e;
  --primary2-background: #0ba937;

  --padding-container: 5rem;
}

body {
  background: var(--putih);
}

/* DEFAULT */

/* nav ul{list-style: none;} */
/* nav li{display: inline-block;position: relative;} */

a {
  text-decoration: none;
  color: var(--hitam);
}
.date {
  text-transform: capitalize;
}

main {
  display: grid;
  gap: 3rem;
  padding: var(--padding-container);
}
main > *,
header > *,
nav > *,
footer > * {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}
.background-warna1 {
  background: var(--hitam);
  color: var(--putih);
}
.background-warna2 {
  background: var(--primary1-background);
}
.background-warna3 {
  background: var(--primary2-background);
  color: var(--putih);
}
.background-warna3 .category .title > .text {
  color: var(--primary1-background);
}

.background-warna1 a,
.background-warna3 a {
  color: var(--putih);
}

.background-warna1 .category .view,
.background-warna3 .category .view {
  border: 1px solid white;
}

.background-warna3 .category .view:hover {
  background: white;
  filter: brightness(0.9);
  color: var(--hitam);
}

/* image */
.image {
  overflow: hidden;
}
.image > img {
  width: 100%;
  height: 100%;
  transition: 0.8s ease;
}
.image.zoom:hover img {
  transform: scale(1.3);
}
.image.gelap:hover img {
  filter: brightness(0.5);
}
img {
  object-fit: cover;
  object-position: center;
}

/* date */
.date {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.date img {
  width: 1.1rem;
}
/* TAG CATEGORY*/

.tags {
  width: 100%;
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  text-wrap: nowrap;
  text-transform: capitalize;
}
.tags .tag {
  padding: 0.5rem 1rem;
  border: 1px solid gray;
  border-radius: 25rem;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

/* CATEGORY */

.category {
  gap: 2rem;
  display: grid;
}
.category > .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
}
.category .title.tengah {
  flex-direction: column;
  text-align: center;
}
.category > .desc {
  max-width: 60rem;
  font-size: 1.2rem;
}
.category .title.tengah > .desc {
  padding: 1rem;
  max-width: 50rem;
  font-size: 1.3rem;
}
.category .title > .text {
  font-weight: 500;
  font-size: 2rem;
  position: relative;
  color: var(--primary2-background);
}
.category .view {
  border: 1px solid var(--hitam);
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: 0.5s;
}

.category .view:hover {
  background: var(--primary2-background);
  color: white;
  border: 1px solid white;
}

/* pernak pernik */

.category .title .text .pernak-pernik.atas {
  width: 20%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.category .title .text .pernak-pernik.garis-bawah {
  width: 100%;
  position: absolute;
  left: 0;
  top: 110%;
  z-index: -1;
}
/* -----NAV-BAR----- */

nav ul {
  list-style: none;
}
nav a {
  text-decoration: none;
}

nav {
  padding: 1.5rem var(--padding-container);
  font-size: 0.85rem;
  transition: 0.5s;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
}

nav .nav {
  display: flex;
  justify-content: space-between;
  position: relative;
}

nav .logo-container {
  display: flex;
  align-items: center;
}

nav .nav-btn {
  display: flex;
}

nav.muncul .logo,
nav:hover .logo {
  font-size: 0.9rem;
}

nav.muncul,
nav:hover {
  background: var(--putih);
}
nav.muncul {
  font-size: 0.83rem;
  padding: 0.6rem var(--padding-container);
}
nav .logo {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: 0.5s;
}

nav .logo img {
  height: 3rem;
}

nav .btn {
  display: inline-block;
  padding: 0.5rem 1.3rem;
  font-size: 0.8rem;
  border: 2px solid #fff;
  border-radius: 2rem;
  line-height: 1;
  margin: 0 0.2rem;
  transition: 0.3s;
  text-transform: uppercase;
}

nav .btn.solid,
nav .btn.transparent:hover {
}

nav .btn.transparent,
nav .btn.solid:hover {
}

nav .nav-links > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

nav .nav-link {
  position: relative;
}

nav .nav-link > a {
  line-height: 3rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
  border-radius: 0.3rem;
}

nav .nav-link:hover > a {
  /* transform: scale(1.1); */
  background: var(--primary2-background);
  color: var(--putih);
}

nav .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: max-content;
  max-width: 15rem;
  transform: translateY(10px);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  padding-top: 0.5rem;
}
nav .dropdown-link:hover > a {
  background: var(--primary2-background);
  border-radius: 0.3rem;
}
nav .dropdown .dropdown-link:hover > a {
  color: var(--putih);
}

nav .dropdown ul {
  position: relative;
  box-shadow: 0 0 1rem gray;
  border-radius: 0.2rem;
  background: var(--putih);
}

nav .dropdown-link > a {
  display: flex;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;
}

nav .dropdown-link:hover > a {
}

nav .dropdown-link:not(:nth-last-child(2)) {
  /* border-bottom: 1px solid #efefef; */
}

nav .arrow {
  position: absolute;
  width: 11px;
  height: 11px;
  top: -5.5px;
  left: 32px;
  transform: rotate(45deg);
  cursor: pointer;
  transition: 0.3s;
  z-index: -1;
}

nav .dropdown-link:first-child:hover ~ .arrow {
}

nav .dropdown-link {
  position: relative;
}

nav .dropdown.second {
  top: 0;
  left: 100%;
  padding-left: 0.8rem;
  cursor: pointer;
  transform: translateX(10px);
}

nav .nav-link:hover > .dropdown,
nav .dropdown-link:hover > .dropdown {
  transform: translate(0, 0);
  opacity: 1;
  pointer-events: auto;
}

nav .hamburger-menu-container {
  display: none;
  align-items: center;
  justify-content: flex-end;
}

nav .hamburger-menu {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
}

nav .hamburger-menu div {
  width: 1.6rem;
  height: 3px;
  border-radius: 3px;
  position: relative;
  z-index: 1001;
  transition: 0.5s;
  background: black;
}

nav .hamburger-menu div:before,
nav .hamburger-menu div:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 3px;
  transition: 0.5s;
  background: black;
}

nav .hamburger-menu div:before {
  transform: translateY(-7px);
}

nav .hamburger-menu div:after {
  transform: translateY(7px);
}

nav.checked .hamburger-menu-container .hamburger-menu div {
  background: none;
}

nav.checked .hamburger-menu-container .hamburger-menu div:before {
  transform: translateY(0) rotate(-45deg);
}

nav.checked .hamburger-menu-container .hamburger-menu div:after {
  transform: translateY(0) rotate(45deg);
}
.nav-link > a {
  text-wrap: nowrap;
}

.nav-link:has(.dropdown) a {
  padding-right: 2rem;
  position: relative;
}

.dropdown-link:has(.dropdown) > a::after,
.nav-link:has(.dropdown) > a::after {
  content: ">";
  position: absolute;
  right: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.5s ease-in-out;
  font-size: 1.2rem;
}
.dropdown-link:has(.dropdown):hover > a::after,
.nav-link:has(.dropdown):hover > a::after {
  transform: translateY(-50%) rotate(90deg);
  color: white;
}

@keyframes animation {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media only screen and (max-width: 600px) {
  nav .nav-btn {
    width: 100% !important;
  }
}

@media only screen and (max-width: 1280px) {
  nav.muncul {
    padding: 1.2rem var(--padding-container);
  }

  nav .hamburger-menu-container {
    display: initial;
  }
  nav .nav-btn {
    position: fixed;
    height: calc(100vh - 2rem);
    top: 5rem;
    left: -100%;
    width: 20rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: auto;
    transition: 0.65s;
    background: var(--putih);
  }

  nav.checked .nav-btn {
    left: 0;
  }

  nav.checked .nav-btn .nav-link {
    animation: animation 0.5s ease forwards var(--i);
  }

  nav .nav-links {
    width: 100%;
  }

  nav .nav-links > ul {
    flex-direction: column;
  }

  nav .nav-link {
    width: 100%;
    opacity: 0;
  }

  nav .nav-link > a {
    transition: 0.5s;
    line-height: 1;
    padding: 1.6rem 2rem;
  }

  nav .nav-link:hover > a {
    transform: scale(1);
  }

  nav .dropdown {
    max-width: 100%;
  }
  nav .dropdown ul {
    box-shadow: none;
  }
  nav .dropdown ul {
    border-left: 1px solid black;
  }

  nav .dropdown,
  nav .dropdown.second {
    position: initial;
    top: initial;
    left: initial;
    transform: initial;
    opacity: 1;
    pointer-events: auto;
    width: 100%;
    padding: 0;
    display: none;
  }

  nav .nav-link:hover > .dropdown,
  nav .dropdown-link:hover > .dropdown {
    display: block;
  }

  .dropdown-link:has(.dropdown) > a::after,
  .nav-link:has(.dropdown) > a::after {
    right: var(--padding-container);
  }
  nav .dropdown-link > a {
    padding: 1.2rem 2rem;
    line-height: 1;
  }

  nav .dropdown.second .dropdown-link > a {
    padding: 1.2rem 2rem 1.2rem 3rem;
  }

  nav .dropdown.second .dropdown.second .dropdown-link > a {
    padding: 1.2rem 2rem 1.2rem 4rem;
  }

  nav .dropdown-link:not(:nth-last-child(2)) {
    border-bottom: none;
  }

  nav .arrow {
    z-index: 1;
    left: 10%;
    transform: scale(1.1) rotate(45deg);
    transition: 0.5s;
  }

  nav .dropdown .dropdown .arrow {
    display: none;
  }
}
/* ======= PAGE BERANDA ======= */

.container > *:nth-child(1) {
  padding-top: calc(var(--padding-container) + 2rem);
}

.container:has(.page-jurusan, .fasilitas-sekolah, .page-eskul) {
  overflow: hidden
}

header {
  padding: 0 var(--padding-container);
  overflow: hidden;
}

/* kasih jarak ke navbar */
/* .container.beranda {
  padding-top: 10rem;
}
.container {
  padding-top: 2rem;
} */

/* -----HERO----- */

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 0;
}
.hero .text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.hero .text .title {
  font-weight: 600;
  font-size: 2.5rem;
}
.hero .text .title span {
  background: #00ff10;
  background: linear-gradient(
    to right,
    #00ff10 0%,
    #00ff00 33%,
    #c3e800 80%,
    #ffd900 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero .text .info {
  display: grid;
  grid-template-columns: 5rem 5rem 5rem;
  gap: 3rem;
}
.hero .text .info .number {
  font-size: 2rem;
}
.hero img {
  width: 10rem;
}

/* -----COMPANY----- */


.company-provile {
  margin-top: -5rem;
  justify-self: right;
  position: relative;
  width: 30rem;
  transform: rotate(10deg);
}
.company-provile > img {
  width: 100%;
  top: 0rem;
  left: 0rem;
  position: absolute;
  transform: rotate(-10deg);
}

/* -----SLIDER ----- */
.carousel-container {
  width: 70%;
  height: 13rem;
  position: relative;
  top: 10rem;
  left: 8rem;
}
.carousel-item {
  width: 100%;
  height: 100%;
  display: none;
}
.carousel-item img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
.company-provile button {
  position: absolute;
  z-index: 99;
  top: 15rem;
  width: 3rem;
  height: 3rem;
  border-radius: 100rem;
  border: none;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1rem);
  color: white;
  cursor: pointer;
}
.company-provile .prevBtn {
  left: 23%;
}
.company-provile .nextBtn {
  right: 0%;
}
.company-provile .text {
  position: absolute;;
  z-index: 9;
  bottom: 8.5rem;
  left: 9rem;
  color: var(--putih);
  background-color: rgba(0, 0, 0, 0.5);
  padding: .5rem;
  border-radius: .5rem;
  backdrop-filter: blur(1rem);
}


.logo-company {
  margin: 5rem auto 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: space-around;
}
.logo-company img {
  height: 2vw;
  max-height: 2rem;
}

/* -----PENGUMUMAN-AND-AGENDA----- */

.pengumuman .tags .tag {
  padding: 0.5rem 1rem;
  border: 1px solid var(--putih);
  margin-right: 10px;
}
.pengumuman .contents {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 5rem 1.5rem;
}
.pengumuman .contents .content {
  display: grid;
  gap: 0.5rem;
}
.pengumuman .contents .content .image {
  width: 100%;
  height: 14rem;
  border-radius: 1rem;
}
.pengumuman .contents .content .text {
  padding: 0.5rem;
  display: grid;
  gap: 1rem;
}
.pengumuman .contents .content .text .desc {
  font-weight: 600;
}
.pengumuman .contents .content .date > img {
  filter: brightness(10);
}

.agenda .tags .tag {
  padding: 0.5rem 1rem;
  border: 1px solid var(--putih);
  margin-right: 10px;
}

.agenda .contents {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}
.agenda .date > img {
  filter: brightness(9);
}
.agenda .date {
  margin-top: 1rem;
  font-weight: 400;
  font-size: 0.8rem;
}
.agenda .content {
  border-radius: 1rem;
  padding: 1rem;
}
.agenda .content:hover {
  background: #1515151d;
}

.pengumuman {
  padding-right: 0;
  border-right: 0;
  padding-top: 3rem;
  border-top: 1px solid var(--putih);
}

/* -----ARTICLE----- */

.artikel .tags .tag {
  padding: 0.5rem 1rem;
  border: 1px solid gray;
  border-radius: 25rem;
  transition: .2s ease-in-out;
  margin-right: 10px;
}
.artikel .tags .tag:hover {
  background: var(--primary2-background);
  color: var(--putih);
}
.artikel .contents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.artikel .contents .content {
  display: grid;
  grid-template-columns: 10rem auto;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
}
.artikel .contents .content .image {
  width: 100%;
  height: 10rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.1rem 0.1rem #00000022;
}
.artikel .contents .content .text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
}

.artikel .contents .content .text .text-category,
.artikel .contents .content .text .date {
  font-weight: 300;
  font-size: 0.8rem;
}
.artikel .contents .content .text .desc {
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* artikel hover animasi */
.artikel .contents .content::before {
  content: "";
  transition: 0.5s;
  box-shadow: 0 0 1rem var(--primary1-background);
  z-index: -1;
  border-radius: 30rem;
  position: absolute;
  width: 0;
  height: 100%;
  transform: skew(-40deg);
}
.artikel .contents .content:hover {
  color: var(--putih);
}
.artikel .contents .content:hover:before {
  background: var(--primary1-background);
  width: 100%;
  border-radius: 0;
  transform: skew(0);
}
.artikel .contents .content:hover .date img {
  filter: brightness(10);
}

/* -----SAMBUTAN-KEPALA-SEKOLAH----- */

.sambutan .content {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 4rem;
  place-items: center;
}
.sambutan .content img {
  width: 90%;
}
.sambutan .content .text p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: justify;
  font-weight: 300;
}
.sambutan .content .text .title {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--putih);
}

/* -----JURUSAN----- */

.jurusan .contents {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 3rem 1rem;
}
.jurusan .contents .content {
  display: grid;
  gap: 0.5rem;
}
.jurusan .contents .content .image {
  width: 100%;
  height: 12rem;
  border-radius: 0.5rem;
}
.jurusan .contents .content .title {
  font-weight: 600;
}

.jurusan.ver2 .contents {
  display: flex;
  overflow-x: auto;
}
.jurusan.ver2 .contents .content .image {
  width: 18rem;
}

.jurusan .contents .content .info {
  font-size: 0.8rem;
  display: flex;
  gap: 1rem;
}
.jurusan .contents .content .info .desc {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.jurusan .contents .content .info .desc img {
  height: 0.8rem;
}

/* -----PRESTASI----- */

.prestasi .contents {
  gap: 3rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
}
.prestasi .contents .content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/* .contents .content{
  padding: 1rem;
  border-radius: 1rem;
}
.contents .content:hover{
  background: rgba(0, 0, 0, 0.237);
  filter: brightness(.9);
} */
.prestasi .contents .text > * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.prestasi .contents .text {
  font-size: 1.5rem;
}
.prestasi .contents .penyelenggara {
  font-weight: 300;
}
.prestasi .contents .juara {
  font-size: 2.5rem;
}
.prestasi .contents .nama-lomba {
  padding: 0.5rem;
  background: var(--primary2-background);
  color: var(--putih);
  border-radius: 0.3rem;
}
.prestasi .contents .penyelenggara {
  text-transform: uppercase;
}
.prestasi .contents .image {
  position: relative;
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
}
.prestasi .contents .peserta-lomba {
  position: absolute;
  color: var(--putih);
  bottom: 0;
  padding: 0.5rem;
  border-radius: 0.3rem;
  margin: 0 0 2rem 1rem;
  background: #00000099;
  backdrop-filter: blur(1rem);
}

/* -----TENAGA KEPENDIDIKAN----- */

/* -----TENAGA KEPENDIDIKAN----- */

.tenaga-kependidikan .contents {
  gap: 3rem var(--padding-container);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem;
}
.tenaga-kependidikan .contents .content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 17rem;
  height: 20rem;
  position: relative;
}
.tenaga-kependidikan .contents .content:nth-child(1) {
  display: none;
}
.tenaga-kependidikan .contents .content .text {
  position: absolute;
  bottom: 0;
  padding: 2rem;
  color: var(--putih);
  z-index: 2;
}
.tenaga-kependidikan .contents .content .text .profesi {
  font-size: 0.8rem;
}

.tenaga-kependidikan .contents .content .image {
  position: relative;
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
}
.image.shadow {
  position: relative;
}
.image.shadow::before {
  content: "";
  width: 100%;
  height: 5%;
  background: #000000;
  box-shadow: 0 0 3rem 5rem #000000ad, 0 0 3rem 2rem black;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

/* border */
.tenaga-kependidikan .contents .content::before,
.tenaga-kependidikan .contents .content::after {
  content: "";
  position: absolute;
  border: 1px solid black;
  border-radius: 0.5rem;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.tenaga-kependidikan .contents .content::before {
  top: 1rem;
  left: 1rem;
}
.tenaga-kependidikan .contents .content::after {
  bottom: 1rem;
  right: 1rem;
}

/* -----FOOTER----- */
footer {
  padding: var(--padding-container);
}
.footer {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 5rem;
}
.footer .kiri {
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 1rem;
  min-width: 18rem;
}
.footer .kiri .title {
  height: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer .kiri img {
  height: 100%;
}
.footer .kiri .maps {
  width: 100%;
  height: 100%;
  min-height: 15rem;
}

.footer .kanan .contacts {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  min-width: 25rem;
}

.footer .kanan .contacts .contact {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.footer .kanan .contacts .contact .title {
  height: 2rem;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1.1rem;
}
.footer .kanan .contacts .contact .text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer .kanan .contacts .contact .text a {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer .kanan .contacts .contact .text a:hover{
  color: var(--primary2-background);
}
.copyright {
  display: grid;
  place-items: center;
  height: var(--padding-container);
}
/* 
.footer {
  padding: var(--padding-container);
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 10rem;
}
.footer .location .desc,
.footer .contact .content,
.footer .location {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;
}
.footer .maps {
  width: 100%;
  height: 100%;
}
.footer .contact {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.footer .contact .text > * {
  padding: 0.5rem 0;
}
.footer a {
  width: fit-content;
}
.footer .location .title {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer .text {
  display: flex;
  flex-direction: column;
}
.footer .location .title img {
  width: 3rem;
} */
@media only screen and (max-width: 1225px) {
  .footer {
    grid-template-columns: auto auto;
  }
}

/* PERANGKAT SEDANG */

@media only screen and (max-width: 928px) {
  :root {
    --padding-container: 3rem;
  }
  .hero {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
  .hero .text .title {
    font-size: 2rem;
  }

  .logo-company img {
    height: 3rem;
  }
  .logo-company {
    gap: 1rem;
  }

  /* .container {
    margin-top: 5rem;
  } */
  /* main:has(.pengumuman, .agenda) {
        grid-template-columns: 1fr;
        gap: 5rem;
    }
    .pengumuman {
        padding-right: 0;
        border-right: 0;
        padding-bottom: 3rem;
        border-bottom: 1px solid var(--putih);
    }
    .agenda {
        margin-left: 0;
    } */
  .artikel .contents {
    grid-template-columns: repeat(1, 1fr);
  }
  .sambutan .content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 0.5fr;
  }
  .sambutan .content img {
    width: 100%;
  }
  /* .agenda .contents, */
  .pengumuman .contents {
    grid-template-columns: repeat(2, 1fr);
  }
  .pengumuman .contents .content .text {
    font-size: 0.8rem;
    font-weight: 400;
  }

  .pengumuman .contents .content .image {
    height: 13rem;
    border-radius: 0.5rem;
  }

  .jurusan .contents .content .image {
    height: 10rem;
  }
  .jurusan .contents {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
  .tenaga-kependidikan .contents {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
  .tenaga-kependidikan .contents .content {
    height: 20rem;
  }
  .tenaga-kependidikan .contents .content:nth-child(1) {
    display: flex;
  }
  .tenaga-kependidikan .contents .content::before,
  .tenaga-kependidikan .contents .content::after,
  .tenaga-kependidikan .contents .content .image {
    border-radius: 0.8rem;
  }
  .footer {
    grid-template-columns: 1fr;
  }
}

/* PERANGKAT-ANDROID */

@media only screen and (max-width: 600px) {
  :root {
    --padding-container: 2rem;
    font-size: 3vw;
  }

  .container > *:nth-child(1) {
    padding-top: calc(var(--padding-container) + 4rem);
  }
  .hero {
    font-size: 1rem;
    padding: 0;
  }
  .category .title .text {
    font-size: 1.5rem;
  }
  .pengumuman .contents .content .image {
    height: 10rem;
  }
  .jurusan .contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .prestasi .contents .content:nth-child(3) {
    display: none;
  }
  .tenaga-kependidikan .contents {
    grid-template-columns: repeat(2, 1fr);
    /* font-size: 0.7rem; */
  }
  .tenaga-kependidikan .contents .content {
    height: 15rem;
  }
  .jurusan .contents .content .info {
    font-size: 0.7rem;
  }

  .tenaga-kependidikan .contents .content::before {
    top: 0.6rem;
    left: 0.6rem;
  }
  .tenaga-kependidikan .contents .content::after {
    bottom: 0.6rem;
    right: 0.6rem;
  }

  .tenaga-kependidikan .contents .content .text .nama {
    font-size: 0.8rem;
  }
}

/* ====== PAGE TENTANG SEKOLAH ======= */

/* -----TENTANG-SEKOLAH---- */

.tentang-sekolah .info {
  display: grid;
  grid-template-columns: auto 6rem;
  text-align: center;
  gap: 5rem;
}
.tentang-sekolah .info .text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.tentang-sekolah > .text {
  color: var(--putih-redup);
  font-size: 1.15rem;
  /* line-height: 30px; */
}
.tentang-sekolah .info .image {
  background: rgb(203, 203, 203);
  border-radius: 0.5rem;
  width: 100%;
  height: 30rem;
}
.tentang-sekolah .info .number {
  font-size: 1.5rem;
}

/* -----VISI-MISI----- */

.visi-misi .contents {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 3rem;
}
.visi-misi .content {
  padding: 1rem;
  border-radius: 1rem;
}
.visi-misi .content:hover {
  background: var(--primary2-background);
  color: var(--putih);
}
.visi-misi .contents .number {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}

/* -----STRUKTUR-ORGANISASI-SEKOLAH----- */

.struktur-organisasi-sekolah .contents {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: space-around;
}
.struktur-organisasi-sekolah .content {
  display: grid;
  gap: 1rem;
  text-align: center;
  width: 12rem;
}
.struktur-organisasi-sekolah .content .desc {
  font-size: 0.9rem;
  font-weight: 300;
}
.struktur-organisasi-sekolah .contents .content .image {
  width: 100%;
  height: 12rem;
  border-radius: 100%;
  background: rgb(203, 203, 203);
}

/* -----RIWAYAT-KEPALA-SEKOLAH----- */

.riwayat-kepala-sekolah .contents {
  display: grid;
  gap: 4rem;
}
.riwayat-kepala-sekolah .content .text {
  padding: 0.7rem 1.7rem;
  border: 1px solid black;
  display: inline-block;
  border-radius: 5rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 600px) {
  .tentang-sekolah .info {
    grid-template-columns: auto;
    text-align: initial;
  }
  .tentang-sekolah .info .image {
    height: 15rem;
  }
  .tentang-sekolah .info .text {
    display: flex;
    flex-direction: row;
    justify-content: initial;
  }

  .visi-misi .contents {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
}

/* ======= PAGE PROGRAM INDONESIA PINTAR =======*/

.program-sekolah {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.program-sekolah .content {
  display: grid;
  gap: 2rem;
  padding-right: 5rem;
  border-right: 1px solid gray;
}
.program-sekolah .content .desc {
  font-size: 1.2rem;
}
.program-sekolah .content .image {
  width: 100%;
  height: 20rem;
  border-radius: 1rem;
  background: gray;
}
.program-sekolah .info {
  display: grid;
  gap: 1rem;
}
.program-sekolah .info > * {
  display: flex;
  gap: 1rem;
}
.program-sekolah .info .number {
  font-size: 2rem;
  color: rgb(0, 81, 255);
}
.program-sekolah .info .detail {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.kerjasama-hubin,
.jurusan.ver2 {
  margin-top: 3rem;
}

.kerjasama-hubin .contents {
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  display: grid;
  gap: 2rem;
}
.kerjasama-hubin .contents .content {
  position: relative;
}

.kerjasama-hubin .contents .content .image {
  width: 100%;
  height: 20rem;
  border-radius: 1rem;
}
.kerjasama-hubin .contents .text {
  position: absolute;
  bottom: 0;
  padding: 2rem;
  color: var(--putih);
}

@media only screen and (max-width: 600px) {
  .program-sekolah {
    display: grid;
    grid-template-columns: 1fr;
  }

  .program-sekolah .info {
    grid-template-columns: repeat(2, 1fr);
  }
  .program-sekolah .info .detail {
    font-size: 1rem;
    margin-top: 0;
  }
  .program-sekolah .content .image {
    height: 15rem;
  }

  .program-sekolah .content {
    padding-right: 0;
    border-right: none;

    padding-bottom: var(--padding-container);
    border-bottom: 1px solid gray;
  }

  .kerjasama-hubin .contents {
    grid-template-columns: repeat(2, 1fr);
  }
  .kerjasama-hubin .contents .content .image {
    height: 15rem;
  }
}
/* ======= PAGE PROFIL-JURUSAN ======= */

.profil-jurusan .contents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.profil-jurusan .contents .image {
  width: 100%;
  height: 20rem;
  border-radius: 0.5rem;
  filter: grayscale(1);
  transition: 1s;
}

.guru-pembimbing .contents {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 3rem;
}
.guru-pembimbing .content {
  display: grid;
  gap: 1rem;
  text-align: center;
}
.guru-pembimbing .contents .image {
  width: 100%;
  height: 12rem;
  border-radius: 100%;
}

.infra-akuntansi-keuangan {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 3rem 0;
}
.infra-akuntansi-keuangan .contents {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 3rem;
}
.infra-akuntansi-keuangan .content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}
.infra-akuntansi-keuangan .content .text {
  padding: 1rem 0.2rem;
  border-radius: 5rem;
  border: 1px solid black;
}
.infra-akuntansi-keuangan .contents .image {
  width: 100%;
  height: 20rem;
  border-radius: 25rem 25rem 0 0;
  background: grey;
}

@media only screen and (max-width: 600px) {
  .profil-jurusan .contents {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  .profil-jurusan .contents .image {
    height: 12rem;
  }
  .infra-akuntansi-keuangan .contents {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* ======= BLUD ======= */

.blud .tags .tag {
  transition: 0.5s;
  border: none;
}
.blud .tags .tag:hover {
  background: blue;
  color: var(--putih);
}
.blud .iklan {
  width: 100%;
  height: 30rem;
  position: relative;
  overflow: hidden;
  /* box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.206); */
  border-radius: 1rem;
}
.blud .iklan .carousel {
  width: 15rem;
  background: var(--putih);
  height: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 1rem 0 1rem;
}
.blud .iklan .carousel::after,
.blud .iklan .carousel::before {
  content: "";
  width: 1rem;
  height: 1rem;
  position: absolute;
  background: transparent;
  border-top-right-radius: 2rem;
  box-shadow: 1rem -1rem 0 0.9rem var(--putih);
}
.blud .iklan .carousel::after {
  left: -1rem;
  top: 0;
}
.blud .iklan .carousel::before {
  right: 0;
  bottom: -1rem;
}
.blud .iklan .image {
  width: 100%;
  height: 100%;
}
.blud .iklan .carousel .arrow.kanan {
  transform: rotate(180deg);
}
.blud .iklan .carousel .arrow {
  width: 3rem;
  transition: 1s;
  position: relative;
  z-index: 9;
}
.blud .iklan .carousel .arrow:hover {
  width: 4rem;
}
.blud .iklan .carousel .arrow img {
  width: 100%;
  height: 100%;
  z-index: 3;
}
.blud .iklan .carousel .arrow::before {
  content: "";
  background: #75e71b;
  position: absolute;
  width: 3rem;
  height: 3rem;
  left: -25%;
  z-index: -1;
  border-radius: 20rem;
  top: -0.8rem;
  transition: 0.2s ease-in-out;
}
.blud .iklan .carousel .arrow:hover::before {
  width: 6rem;
}

.blud .search {
  margin: -5rem auto;
  z-index: 9;
  width: 80%;
  height: 5rem;
  border-radius: 1rem;
  border: none;
  padding: 1rem 2rem;
  background: var(--putih);
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.206);
  outline: none;
}
.blud .tags .tag {
  margin-top: 3rem;
  border: 1px solid gray;
  margin-right: 10px;
}

.blud .contents {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 5rem 1rem;
}
.blud .content {
  display: grid;
  gap: 1rem;
}
.blud .content .text {
  display: grid;
  gap: 0.1rem;
}
.blud .content .text .by {
  color: var(--putih-redup);
  font-size: 0.8rem;
}
.blud .content .text .price {
  color: #a5341b;
}
.blud .content .text .rating {
  display: flex;
  gap: 1rem;
}
.blud .content .text .rating .number {
  color: #293be0;
}
.blud .content .image {
  width: 100%;
  height: 12rem;
  border-radius: 0.5rem;
}
@media only screen and (max-width: 928px) {
  .blud .iklan {
    height: 20rem;
  }
}
@media only screen and (max-width: 600px) {
  .blud .search {
    height: 3.8rem;
    font-size: 1rem;
  }
  .blud .iklan .carousel .arrow:hover {
    width: 2.4rem;
  }
  .blud .iklan .carousel .arrow:hover::before {
    width: 3.5rem;
  }
  .blud .iklan .carousel .arrow {
    width: 2rem;
  }
  .blud .iklan .carousel .arrow::before {
    top: -0.3rem;
    width: 2rem;
    height: 2rem;
  }
  .blud .iklan .carousel {
    width: 10rem;
    height: 3rem;
  }
  .blud .iklan {
    height: 15rem;
  }
  .blud .contents {
    grid-template-columns: 1fr 1fr;
  }
  .blud .content .image {
    height: 10rem;
  }
}
/* FASILITAS SEKOLAH */

.fasilitas-sekolah .contents {
  display: grid;
  gap: 10rem;
}
.fasilitas-sekolah .content {
  display: flex;
  gap: 3rem;
}
.fasilitas-sekolah .content:nth-child(2n) {
  flex-direction: row-reverse;
}
.fasilitas-sekolah .content .galery {
  width: 100%;
  max-width: 70%;
  height: 20rem;
  display: flex;
  gap: 1rem;
  flex: 0.8;
  position: relative;
}
.fasilitas-sekolah .content .galery::after {
  z-index: -1;
  content: "";
  background: var(--hitam);
  width: 100%;
  height: 120%;
  top: -10%;
  position: absolute;
}
.fasilitas-sekolah .content:nth-child(2n-1) .galery::after {
  left: -18%;
}
.fasilitas-sekolah .content:nth-child(2n) .galery::after {
  right: -18%;
}
.fasilitas-sekolah .content:nth-child(2n) .text {
  text-align: right;
}

.fasilitas-sekolah .content .galery .image {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}
.fasilitas-sekolah .content .text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.fasilitas-sekolah .content .title {
  font-weight: 500;
  font-size: 2.3rem;
  color: var(--primary2-background);
}
.fasilitas-sekolah .content .desc {
  font-size: 1.3rem;
}
@media only screen and (max-width: 928px) {
  .fasilitas-sekolah .content .title {
    font-size: 2rem;
  }
  .fasilitas-sekolah .content .desc {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .fasilitas-sekolah .content .galery .image {
    border-radius: 1rem;
  }
  .fasilitas-sekolah .content .galery {
    height: 10rem;
  }
  .fasilitas-sekolah .content .title {
    /* font-size: 1.5rem; */
  }
  .fasilitas-sekolah .content .desc {
    /* font-size: .8rem; */
  }
  .fasilitas-sekolah .content {
    flex-direction: column;
  }
  .fasilitas-sekolah .content:nth-child(2n) {
    flex-direction: column;
    align-items: flex-end;
  }
}


.fasilitas-sekolah .contents {
  display: grid;
  gap: 10rem;
}
.fasilitas-sekolah .content {
  display: flex;
  gap: 3rem;
}
.fasilitas-sekolah .content:nth-child(2n) {
  flex-direction: row-reverse;
}
.fasilitas-sekolah .content .galery {
  width: 100%;
  max-width: 70%;
  height: 20rem;
  display: flex;
  gap: 1rem;
  flex: 0.8;
  position: relative;
}
.fasilitas-sekolah .content .galery::after {
  z-index: -1;
  content: "";
  background: var(--hitam);
  width: 100%;
  height: 120%;
  top: -10%;
  position: absolute;
}
.fasilitas-sekolah .content:nth-child(2n-1) .galery::after {
  left: -18%;
}
.fasilitas-sekolah .content:nth-child(2n) .galery::after {
  right: -18%;
}
.fasilitas-sekolah .content:nth-child(2n) .text {
  text-align: right;
}

.fasilitas-sekolah .content .galery .image {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}
.fasilitas-sekolah .content .text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.fasilitas-sekolah .content .title {
  font-weight: 500;
  font-size: 2.3rem;
  color: var(--primary2-background);
}
.fasilitas-sekolah .content .desc {
  font-size: 1.3rem;
}
@media only screen and (max-width: 928px) {
  .fasilitas-sekolah .content .title {
    font-size: 2rem;
  }
  .fasilitas-sekolah .content .desc {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .fasilitas-sekolah .content .galery .image {
    border-radius: 1rem;
  }
  .fasilitas-sekolah .content .galery {
    height: 10rem;
  }
  .fasilitas-sekolah .content .title {
    /* font-size: 1.5rem; */
  }
  .fasilitas-sekolah .content .desc {
    /* font-size: .8rem; */
  }
  .fasilitas-sekolah .content {
    flex-direction: column;
  }
  .fasilitas-sekolah .content:nth-child(2n) {
    flex-direction: column;
    align-items: flex-end;
  }
}

/* ===== PAGE JURUSAN ===== */

.page-jurusan .contents {
  display: grid;
  gap: 10rem;
}

.page-jurusan .content {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.page-jurusan .content:nth-child(2n) {
  flex-direction: row-reverse;
}

.page-jurusan .content .galery {
  width: 100%;
  max-width: 70%;
  height: 25rem;
  display: flex;
  gap: 1rem;
  flex: 0.8;
  position: relative;
}
.page-jurusan .content .galery::after {
  z-index: -1;
  content: "";
  /* background: var(--hitam); */
  width: 100%;
  top: 50%;
  translate: 0 -50%;
  border: 1px solid var(--primary2-background);
  height: 150%;
  border-radius: 50rem;
  position: absolute;
}

.page-jurusan .content:nth-child(2n-1) .galery::after {
  left: -18%;
}

.page-jurusan .content:nth-child(2n) .galery::after {
  right: -18%;
}
.page-jurusan .content:nth-child(2n) .text {
  text-align: right;
  margin-left: 0;
  margin-right: -10rem;
}

.page-jurusan .content .galery .image {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}

.page-jurusan .content .text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 1;
  margin-left: -10rem;
  border-radius: 0.75rem;
  background: var(--putih);
  padding: 1.5rem;
  box-shadow: 0px 8px 44px 0px rgba(156, 185, 227, 0.15);
  height: min-content;
}

.page-jurusan .content .title {
  font-weight: 500;
  font-size: 2.3rem;
  color: var(--primary2-background);
}

.page-jurusan .content .desc {
  font-size: 1.3rem;
}

@media only screen and (max-width: 928px) {
  .page-jurusan .content .title {
    font-size: 2rem;
  }

  .page-jurusan .content .desc {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .page-jurusan .content .galery .image {
    border-radius: 1rem;
  }

  .page-jurusan .content .galery {
    height: 10rem;
  }

  .page-jurusan .content .title {
    /* font-size: 1.5rem; */
  }

  .page-jurusan .content .desc {
    /* font-size: .8rem; */
  }

  .page-jurusan .content {
    flex-direction: column;
    align-items: unset;
  }

  .page-jurusan .content:nth-child(2n) {
    flex-direction: column;
    align-items: flex-end;
  }
  .page-jurusan .content .text {
    margin-left: 0;
  }
  .page-jurusan .content:nth-child(2n) .text {
    margin-right: 0;
  }
}

/* ===== PAGE EKSTRAKULIKULER ===== */

.page-ekstrakulikuler .contents {
  display: grid;
  gap: 10rem;
}

.page-ekstrakulikuler .content {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.page-ekstrakulikuler .content:nth-child(2n) {
  flex-direction: row-reverse;
}

.page-ekstrakulikuler .content .galery {
  width: 100%;
  max-width: 70%;
  height: 25rem;
  display: flex;
  gap: 1rem;
  flex: 0.8;
  position: relative;
}

.page-ekstrakulikuler .content .galery::after {
  z-index: -1;
  content: "";
  width: 100%;
  top: 15%;
  border: 1px solid var(--primary2-background);
  height: 100%;
  border-radius: 2rem;
  position: absolute;
}

.page-ekstrakulikuler .content:nth-child(2n-1) .galery::after {
  left: -18%;
}

.page-ekstrakulikuler .content:nth-child(2n) .galery::after {
  right: -18%;
}

.page-ekstrakulikuler .content:nth-child(2n) .text {
  text-align: right;
  margin-left: 0;
  margin-right: -10rem;
}

.page-ekstrakulikuler .content .galery .image {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}

.page-ekstrakulikuler .content .text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 1;
  margin-left: -10rem;
  border-radius: 0.75rem;
  background: var(--putih);
  padding: 1.5rem;
  box-shadow: 0px 8px 44px 0px rgba(156, 185, 227, 0.15);
  height: min-content;
}

.page-ekstrakulikuler .content .title {
  font-weight: 500;
  font-size: 2.3rem;
  color: var(--primary2-background);
}

.page-ekstrakulikuler .content .desc {
  font-size: 1.3rem;
}

@media only screen and (max-width: 928px) {
  .page-ekstrakulikuler .content .title {
    font-size: 2rem;
  }

  .page-ekstrakulikuler .content .desc {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .page-ekstrakulikuler .content .galery .image {
    border-radius: 1rem;
  }

  .page-ekstrakulikuler .content .galery {
    height: 10rem;
  }

  .page-ekstrakulikuler .content .title {
    /* font-size: 1.5rem; */
  }

  .page-ekstrakulikuler .content .desc {
    /* font-size: .8rem; */
  }

  .page-ekstrakulikuler .content {
    flex-direction: column;
    align-items: unset;
  }

  .page-ekstrakulikuler .content:nth-child(2n) {
    flex-direction: column;
    align-items: flex-end;
  }

  .page-ekstrakulikuler .content .text {
    margin-left: 0;
  }

  .page-ekstrakulikuler .content:nth-child(2n) .text {
    margin-right: 0;
  }
}
/* PAGE GALERY */
.picture .tags .tag,
.galery .tags .tag {
  margin: 0;
  transition: .3s ease-in-out;
  margin-right: 10px;
}
.picture .tags .tag:hover ,
.galery .tags .tag:hover {
  background: var(--primary2-background);
  color: var(--putih);
}
.galery > .desc,
.picture > .desc {
  margin-top: -1rem;
  margin-bottom: 1rem;
}
.galery .contents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.galery .contents .image {
  width: 100%;
  height: 20rem;
  border-radius: 0.5rem;
  transition: 1s;
}
.galery .contents .content .text {
  padding: 1rem;
}
.galery .contents .content .text .desc {
  font-weight: 600;
  margin-bottom: 1rem;
}

.picture .contents {
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  display: grid;
  gap: 1rem;
}
.picture .contents .content .image {
  width: 100%;
  height: 12rem;
  border-radius: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .picture .contents {
    grid-template-columns: repeat(3, 1fr);
  }
  .picture .contents .content .image {
    height: 12rem;
  }
  .galery .contents .image {
    height: 10rem;
  }
}

/* PAGE ESKUL */

.eskul-profil .contents {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.eskul-profil .contents .image {
  width: 100%;
  height: 20rem;
  border-radius: 0.5rem;
  filter: grayscale(1);
  transition: 1s;
}

.pelatih-ekstrakulikuler .contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 3rem;
}
.pelatih-ekstrakulikuler .content {
  width: 12rem;
  display: grid;
  gap: 1rem;
  text-align: center;
}
.pelatih-ekstrakulikuler .contents .image {
  width: 100%;
  height: 12rem;
  border-radius: 100%;
}

/* PAGE DEVELOPER */

.developer .title .text {
  color: black;
}
.developer .contents {
  display: flex;
  gap: 1rem;
  border-radius: 1rem;
}

.developer .content {
  position: relative;
}
.developer .contents .content {
  height: 25rem;
  flex: 1;
  transition: 0.8s cubic-bezier(1, -0.03, 0, 1);
  border-radius: 1rem;
  overflow: hidden;
}
.developer .contents .content .image {
  position: relative;
}
.developer .contents .content .image::before {
  content: "";
  width: 100%;
  height: 5%;
  background: #000000;
  box-shadow: 0 0 3rem 5rem #000000ad, 0 0 3rem 2rem black;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.developer .contents .content .image {
  width: 100%;
  height: 100%;
}
.developer .contents .content .info {
  position: absolute;
  bottom: 0;
  padding: 2rem;
  color: var(--putih);
  z-index: 2;
}
.developer .contents .content .info .nama {
  font-size: 1.2rem;
  font-weight: 400;
}
.developer .contents .content .info .title {
  font-size: 0.8rem;
  font-weight: 200;
}
.developer .contents .content .detail {
  position: absolute;
  bottom: 50%;
  translate: 0 50%;
  padding: 2rem;
  color: var(--putih);
  z-index: 2;
  display: none;
}
.developer .contents .content .detail .hello {
  font-size: 1.3rem;
}
.developer .contents .content:hover {
  flex: 2;
}
.developer .contents .content:hover .image img {
  filter: brightness(0.5);
}
.developer .contents .content:hover .info {
  display: none;
}
.developer .contents .content:hover .detail {
  display: initial;
}

@media only screen and (max-width: 928px) {
  .developer .contents {
    flex-direction: column;
    height: 50rem;
  }
}
/* @media only screen and (max-width: 928px) {
  .eskul-profil .contents {
    grid-template-columns: repeat(2, 1fr);
  }
} */
